
/*
.home{
 // background: no-repeat url("http://farm1.static.flickr.com/159/424300695_9ee73da294_o.jpg");

  //opacity: 0.7;
  margin-top: 30px;
}*/
.sideMenuStyle{
  //background-color: #435d86;
  background: no-repeat url("http://images.all-free-download.com/images/graphiclarge/wine_barrel_03_hd_pictures_168429.jpg") ;
  opacity: 0.5;
  background-size: cover;
  background-position: center;

}

.buttonStyle{

  background-color: #b36200;
  color:white;
  opacity: 1 !important;
  font-weight: bolder;
  font-size: larger;
}
.mainMenu{
  opacity: 0.94;
}
