page-description-modal {

  .content-ios{
    background: no-repeat url("https://i.pinimg.com/736x/ca/cb/98/cacb98c1f7286176c6c09427c64c3017--blue-patterns-samsung-galaxy-s.jpg");
    background-size: cover;
  }
  .content-md{
    background: no-repeat url("https://i.pinimg.com/736x/ca/cb/98/cacb98c1f7286176c6c09427c64c3017--blue-patterns-samsung-galaxy-s.jpg");
    background-size: cover;
  }

 /* img{
    border-radius: 50%;
  }*/

  .imgStyle {
    border-radius: 50%;

  }

  #bottle{
    background:url("https://i.pinimg.com/736x/63/be/a6/63bea6cded710e51386d26d3352dd664--galaxy-s-samsung-galaxy-s.jpg");
  }

  #titleStyle{
    font-weight: bolder;
  }

}

